body{
			font-family: "Century Gothic","segoe UI", "Tahoma", "Geneva";
			margin: 0px;
			padding: 0px;
		}

		nav{
			text-align: center;
			position: fixed;
			top: 0px;
			background-color: rgba(255,255,255,0.8);
			width: 100%;
			z-index: 3;
		}

		nav ul{
			list-style: none;			
			margin : 0;
			padding : 0;	
		}

		nav ul li{
			display: inline-block;
			padding: 8px 16px;			
			text-decoration: none;
			color: #ff5800;
		}

		nav ul li a{							
			text-decoration: none;
			color: #ff5800;
		}

		.container{
			max-width: 840px;
			margin : 0px auto;			
		}

		div #hello{
			background-color: deepskyblue;
			height: 480px;			
		}

		.banner{
			overflow: hidden;
			height: 100%;
			position: relative;
		}

		small{
			position: absolute;
			left: 16px;
			bottom: 16px;
			color : ghostwhite;
			z-index: 3;
		}

		.banner h1{
			color : white;
			background-color: rgba(0,0,0,0.7);
			padding: 16px 32px;
			display: inline-block;
			position: absolute;
			bottom: 60px;
			z-index: 1;
		}

		#wrapper h2{
			text-align: center;			
		}

		#course article{
			width: 33.33%;					
			padding: 16px;
			display: table-cell;
		}

		#about{
			text-align: center;
		}

		.identitas{
			color: tomato;
			font-size: 18px;
		}

		#about span{
			display: block;
		}

		#course,#about,#contact{
			padding : 40px 0px;
			
		}

		button{
			background-color: #e7e7e7;
			color: black;
			width: 100%;
			padding: 10px 40px;
			border-radius: 5px;
		}

		footer{
			background-color: royalblue;
			height: 120px;
			text-align: center;
			padding : 32px 0px;
			color: azure;
		}