body{

	font-family: "century gothic" ,"segoe UI", "Tahoma", "Geneva" ;


}


nav ul {
	
	position : fixed;
	top : 0 ;
	width  100% ;
	text-align : center;
	list-style : none;
	padding-right : 16px;
	padding-left : 16px;
	padding-top : 8px;
	padding-bottom : 8px;
	padding : 0;
	margin : 0;
	background-color : rgba(255, 255, 255, 0.8);
	opacity : 80% ;

	
	
}
.container {
	max-width : 840px;
	margin-left : auto;
	margin-right : auto;
}

#hello {
	height : 480px;
	background-color : deepskyblue;

}

.banner {
	overflow : hidden ;
	height : 100%;
	position : relative;
}

.banner h1 {
	color : white ;
	background-color : black ;
	padding-left: 16px;
	padding-right :16px;
	padding-top : 32px;
	padding-bottom : 32px;
	display : inline-block;
	position : absolute;
	
	
}

small{
	position : absolute ;
	left : 16px;
	bottom : 16px;
	color  : ghostwhite;
}

#wrapper h2 {
	text-align : center;
}

#course {
	width : 33.33% ;
	padding-left : 16px;
	padding-right : 16px;
	padding-top : 40px;
	padding-bottom : 40px;
	display : table-cell ;
}


.identitas {
	color : tomato;
	font-size : 18px;
}

#about  {
	text-align : center;
	padding-top : 40px;
	padding-bottom : 40px;
	
}
#contact {
		padding-top : 40px;
		padding-bottom : 40px;
}

footer{
	
		color : azure;
		height : 120px;
		text-align : center;
		padding-top : 32px;
		padding-bottom : 32px;
	}